body {
    margin-left: 20%;
    margin-right: 20%;
    background: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    color: slategray;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 10px;
}

.logo {
    width: 20px;
    height: 20px;
}

.tophalf {
    background-color: rgb(233, 233, 233);
    padding: 8px;
    padding-left: 80px;
    padding-right: 80px;
}

.tagline {
    font-size: larger;
    font-weight: 500;
    color: darkslategray;
    padding-bottom: 8px;
}

.description {
    padding-bottom: 8px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 25px;
}

button {
    padding: 12px 24px;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: slategray;
    border-radius: 12px;
    color: white;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
}

.heroleft {
    flex-wrap: wrap;
    width: 45%;
}

.heroimg {
    width: 45%;
    border-radius: 25px;
}

.middle {
    text-align: center;
    padding-top: 50px;
    background-color: rgb(207, 195, 178);
}

.samples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px;
    padding-bottom: 50px;
}

.link, .twit, .fb, .insta {
    width: 185px;
}

.quotes {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote {
    font-size: x-large;
    font-weight: 900;
}

.middle3 {
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    margin: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.actionleft {
    text-align:justify;
    width: 75%;
}

.actionbox {
    font-size: larger;
    font-weight: bold;
}

.reset {
    padding: 12px;
    height: fit-content;
}

.doubt {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bolder;
    margin: 50px;
    color: black;
}

.footer {
    text-align: center;
    background-color: slategray;
    color: white;
    padding: 25px;
}