body {
    margin-left: 20%;
    margin-right: 20%;
    background: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    color: slategray;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 10px;
}

.logo {
    width: 20px;
    height: 20px;
}

.tophalf {
    background-color: rgb(233, 233, 233);
    padding: 8px;
    padding-left: 80px;
    padding-right: 80px;
}

.tagline {
    font-size: larger;
    font-weight: 500;
    color: darkslategray;
    padding-bottom: 8px;
}

.description {
    padding-bottom: 8px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    gap: 25px;
}

button {
    padding: 12px 24px;
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: slategray;
    border-radius: 12px;
    color: white;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
}

.heroleft {
    flex-wrap: wrap;
    width: 45%;
}

.heroimg {
    width: 45%;
    border-radius: 25px;
}

.middle {
    text-align: center;
    padding: 25px;
}

.samples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px;
    
}

.link, .twit, .fb, .insta {
    width: 185px;
}

.middle2 {
    background-image: url(img/background.jpg);
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
}